*{
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    width: 100%;
    background-color: #E7E84E;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.tab{
    width: 100%; 
    background-color: #11968f;
    border-radius:5%;
    padding:0.5rem;
    margin: 1rem;
    display: flex;
    box-shadow: 20px 20px 30px 10px #97915E;
}
.tab:hover{
    background-color: #097657;
    box-shadow: 20px 20px 40px 40px #ffffff;
}

.op{
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
    font-size: 1.6vw;
    margin: 3vw 1vw 1vw 1vw;
}

#pix{
    padding: 20px 0px 10px 0px;
}

#threeJS{
    width: 60%;
    height: 60%;
    padding: 50px;

}

.calculator{
    margin:5vw;
}
#operation{
    margin: 0 2vw 0 2vw;
    font-size: 2vw;
}

#answer{
    margin: 0 2vw 0 2vw;
    font-size: 2vw;
}


@media only screen and (max-width: 600px){
    .navbar{
        flex-direction: column;
    }
    .tab{
        width: 98vw;
        margin: 1vw;
    }
    .calculator{
        display: grid;
        grid-template-columns: 98vw;
        grid-template-areas:
        "num1"
        "operation"
        "num2"
        "answer"
        "operands2"
        "operands3";
    }
    #operands1{display: none;}
    #operands4{display: none;}

    #num1 {grid-area: num1; }
    #operation {grid-area: operation}
    #num2 {grid-area: num2; }
    #answer{font-size: x-large; grid-area: answer;}
    #operands2{grid-area: operands2;}
    #operands3{grid-area: operands3;}


    .op{
        width: 10vw;
        height: 10vw;
        font-size: 6vw;
        margin: 3vw 2vw 2vw 2vw;
    }
}

a{
    color:#f8f95f;
    font-size: x-large;
    text-align: center;
    flex-grow: 1;
}

main{
    position: absolute;
}

